
.center-about {
    margin-top: 3%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

